@media (min-width: 1280px) {
  .info_ul::after {
    content: "";
    position: absolute;
    height: 8px;
    width: 35%;
    margin: auto;
    top: 130%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: cyan;
    opacity: 0.9;
    z-index: 0;
  }
}
